*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}


body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: rgb(42, 42, 44);
  font-weight: 500;
  font-family: Montserrat;
}
/* .................................................................. */
.wraper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/* .................................................................. */
.img-code {
  width: 50px;
}
.slyle-css {
  width: 100%;
}
._conteiner {
  max-width: 1046px;
  padding: 0px 15px;
  margin: 0 auto;
  box-sizing: content-box;
}
._ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
/* .....................ШАПКА............................................ */


.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__conteiner {
  display: flex;
  min-height: 104px;
  align-items: center;

}
@media (max-width: 479px) {
  .header__conteiner {
    min-height: 70px;
  }
}

.header_logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}
.header__menu {
  margin: 0px 0px 0px 133px;
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
}

@media (max-width:479px) {
  .header__menu {
    margin: 0px 0px 0px 20px;
  }
}
.menu {
  padding: 5px 0;
}
.menu__list {
  flex-wrap: wrap;
  display: flex;
}
.menu__item {


}
.menu__item:not(:last-child) {
  margin: 0px 21px 0px 21px;
}
.menu__link {
  color: #2e2f42;
  font-weight: 600;
  line-height: calc(24 / 14 * 100%);
}
@media (max-width:479px) {
  .menu__link  {
    font-size: 18px;
  }
}
/* .....................main....................................... */
.page {
  flex: 1 1 auto;
}
.page__main-block {

}
/* ..........Подвал....... */
.footer {

}
/* ......MAIN-BLOCK....... */
.main-block {
  position: relative;
}
.main-block__conteiner {

}

.main_block_body {
  padding: 184px 0px 191px 0px;
  position: relative;
  z-index: 2;
  max-width: 400px;
}
@media (max-width: 992px) {
  .main_block_body {
    padding: 120px 0px 191px 0px;
  }
}
.main_block_body> *:not(:last-child) {
  margin: 0px 0px 35px 0px;
}

.main-block__title {
  font-size: 58px;
  line-height: calc(80 / 58 * 100%);
  letter-spacing: 0.2px;
  font-weight: 800;
}

@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
}

.main-block__text {
  color: #737373;
  font-size: 20px;
  line-height: 150%;
}

/*   .....buttons -header........... */
.main-block__buttons {
  display: inline-flex;
}
.main-block__button {

  border-radius: 37px;
  display: flex;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2px;

  font-weight: 700;
  line-height: 150%;
  padding: 5px 36px;
}

.main-block__button:not(:last-child){
  margin: 0px 10px 0px 0px;
}
.main-block__button_orange {
  background: #ff7b47;
  color: #fff;
}
.main-block__button_border {
  color: #0d5c63;
  border: 1px solid #0d5c63;
}
/* ............IMG -HEADER...надо найти ошибку................ */
@media (max-width: 1300px) {
  .main-block_image img {
    object-position: right;
  }
}
@media (max-width: 992px) {
  .main-block_image {
    opacity: 0.5;
  }
}

main-block_image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;

}